.DivSelectGen{
    display: flex;
    justify-content: flex-end;
    
}

.SelectGen{
    margin: 20px;
    display: flex;
    max-width: 18rem;
    margin-right: auto;
    margin-left: auto;
}

.Card {
    width: 23rem !important;
    margin: 20px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 800px) {
        width: 18rem !important;
   }
    @media (max-width: 670px) {
        width: 22rem !important;
    }
    @media (max-width: 380px) {
        width: 17rem !important;
    }
    @media (max-width: 340px) {
        width: 15rem !important;
    }
        
}

.ContainerCards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RowCard {
    justify-content: space-between;
}

.LinkCard {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.bug {
    background-color: #5a7e48 !important;
}

.dark {
    background-color: #312b1f !important;
    color: white !important;
}

.dragon {
    background-color: #6d4494 !important;
}

.electric {
    background-color: rgb(237, 240, 66) !important;
}

.fairy{
    background-color: #d878ca !important;
}

.fighting{
    background-color: #532607 !important;
    color: white !important;
}

.fire {
    background-color: rgb(240, 48, 48) !important;
}

.flying{
    background-color: #366381 !important;
}

.ghost{
    background-color: #372449 !important;
    color: white !important;
}

.grass {
    background-color: #72af53 !important;
}

.ground {
    background-color: #afa953 !important;
}

.ice {
    background-color: #6bd9dd !important;
}

.normal {
    background-color: #7a7a7a !important;
    color: white !important;
}

.poison {
    background-color: #b36bdd !important;
}

.psychic {
    background-color: #dd6b91 !important;
}

.rock {
    background-color: #96834f !important;
}

.steel {
    background-color: #4d4d4d !important;
    color: white !important;
}

.water {
    background-color: #6890F0 !important;
}